html {
  box-sizing: border-box;
  font-size: 62.5%; /*convertir 1 rem en 10 pixeles*/
  background-color: rgb(34, 34, 34);
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

/*GLOBALES*/
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.mt-5 {
  margin-top: 5rem;
}

h2,
h3 {
  font-family: "Lato", sans-serif;
  /*margin: calc(var(--separacion) / 2) 0; */
}
h1 {
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 4.4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: white;
}
header {
  margin-bottom: 2rem;
}

.contenedor__nav {
  border-bottom: #f0c1a2 solid 0.1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .menu {
    padding: 1.5rem 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.menu a:hover {
  color: #f0c1a2;
}
.contenedor__contenido {
  display: flex;
  flex-direction: column-reverse;
  background-color: #4d3724;
  color: white;
  margin-top: 1rem;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .contenedor__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #4d3724;
    color: white;
    margin-top: 1rem;
    border-radius: 1rem;
  }
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .contenido {
    padding: 3rem 0 0 4rem;
  }
}

.contenido p {
  font-size: 2.2rem;
  line-height: 0.5rem;
}
@media (min-width: 768px) {
  .contenido p {
    font-size: 4rem;
    line-height: 3rem;
  }
}
.contenido span,
.span {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.contenido_rol p {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  position: relative;
  padding-right: 1rem;
}
.contenido_rol {
  display: flex;
}
@media (min-width: 768px) {
  .contenido_rol p {
    font-size: 2.4rem;
    padding-bottom: 0rem;
  }
}
.contenedor_idioma {
  display: flex;
  justify-content: flex-end;
}
.but-idioma {
  display: flex;
  justify-content: center;
  border: 0.1rem solid #4d3724;
  width: 5rem;
  margin-top: 1rem;
  padding: 0.1rem;
  color: #f0c1a2;
  border-radius: 0.2rem;
}
.but-idioma:hover {
  cursor: pointer;
}
.but-idioma.espanol {
  background-color: #4d3724;
}
.but-idioma.english {
  background-color: #4d3724;
}
@media (min-width: 768px) {
  .contenido_rol .span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d3724;
    border-left: 2px solid #f0c1a2;
    animation: animate 4s steps(20) infinite;
  }
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}
.imagen {
  border-radius: 4rem;
  position: sticky;
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.btn {
  width: 10rem;
  text-align: center;
  padding: 1rem;
  border: #a9755d solid 0.1rem;
  border-radius: 2rem;
  color: #f0c1a2;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .btn {
    width: 20rem;
    font-size: 1.8rem;
  }
}
.download {
  background-color: #a9755d;
  color: white;
}

/*SOBRE MI*/
.sobreMi {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(./img/sobremi.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 30%;
}
@media (min-width: 500px) {
  .sobreMi {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-size: 100% 50%;
  }
}
@media (min-width: 769px) {
  .sobreMi {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-image: url(./img/sobremi.jpg);
    background-position: top right;
    background-size: auto;
  }
}
.sobreMi__h1 {
  margin-top: 20rem;
}
@media (min-width: 500px) {
  .sobreMi__h1 {
    grid-column: 1/3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
  }
}

@media (min-width: 769px) {
  .sobreMi__h1 {
    padding: 5rem;
  }
}

.sobreMi__contenido {
  color: white;
  background-color: #4d3724;
  padding: 2rem 2rem 2rem 3rem;
  border-radius: 2rem;
  grid-column: 1/3;
  grid-row: 2/3;
}

/*HABILIDADES*/
.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.habilidades__contenedor {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .habilidades__contenedor {
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    background-size: 30rem 30rem;
  }
}
.imagen:nth-child(4) {
  grid-column: 3/5;
  grid-row: 1/3;
}
.imagen:nth-child(8) {
  grid-column: 3/5;
}
@media (min-width: 768px) {
  .imagen img {
    object-fit: contain;
    height: 100%;
    transition-property: transform;
    transition-duration: 500ms;
  }
  .imagen img:hover {
    transform: scale(1.3);
  }
}

.educacion {
  padding-top: 1rem;
}

.contenedor__educacion {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estudios {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}
.unefa {
  grid-row: 2/3;
  background-image: url(./img/unefa.png);
  background-repeat: no-repeat;
  background-size: 15rem 20rem;
  background-position: center bottom;
}
.estudios__contenido {
  background-color: #4d3724;
  border-bottom-right-radius: 2rem;
  padding: 2rem;
}

@media (min-width: 768px) {
  .estudios {
    display: grid;
    grid-template-columns: repeat(2, 40rem);
    grid-template-rows: none;
    padding: 3rem;
    width: auto;
  }
  .unefa {
    grid-row: 1/2;
    background-image: url(./img/unefa.png);
    background-repeat: no-repeat;
    background-size: 15rem 20rem;
    background-position: center right;
  }
  .estudios__contenido {
    grid-column: 2/3;
  }
}

.estudios__contenidohenry {
  background-color: #4d3724;
  border-bottom-left-radius: 2rem;
  padding: 2rem;
}

.henry {
  grid-row: 2/3;
  background-image: url(./img/henry.jpg);
  background-repeat: no-repeat;
  background-size: 15rem 20rem;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .estudios__contenidohenry {
    grid-column: 1/2;
    padding: 2rem;
    background-color: #4d3724;
    border-bottom-left-radius: 2rem;
    text-align: right;
  }

  .henry {
    grid-column: 2/3;
    grid-row: 1/2;
    background-position: center left;
  }
}

/*PROYECTOS*/

.proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor__proyecto {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contenedor__proyecto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
.card {
  width: 30rem;
  height: 30rem;
  background: rgba(219, 219, 219, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(219, 219, 219, 0.12);
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .card {
    margin-bottom: 0;
  }
}
.card__image {
  background-image: url(./img/cointracker.png);
  background-repeat: no-repeat;

  width: 100%;
  height: 80%;
  background-size: 110% 90%;
  background-position: center center;
}
.dogs {
  background-image: url(./img/dogs2.png);
}
.ecommerce {
  background-image: url(./img/ecommerce.png);
}
.techPro {
  background-image: url(./img/techPro.png);
}

/*FORMULARIO*/
.formulario {
  max-width: 70rem;
  margin: 0 auto;
}
.formulario fieldset {
  border: 1px solid #a9755d;
  margin-bottom: 1rem;
}
.formulario legend {
  background-color: #4d3724;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  margin-bottom: 4rem;
}
.campo {
  display: flex;
  color: white;
  margin-bottom: 1rem;
}
.campo label {
  flex-basis: 10rem; /*ancho del lable*/
}
.campo input,
.campo select,
.campo textarea {
  flex: 1;
  border: 1px solid #e1e1e1;
  padding: 1rem;
}

.opciones {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bform {
  display: block;
  background-color: #4d3724;
  font-weight: 900;
  color: white;
  width: 50%;
}
.bform:hover {
  cursor: pointer;
}
.opciones img {
  height: 5rem;
}
.errores {
  color: rgb(253, 95, 95);
  font-size: 12px;
  text-align: center;
}
